<section id="order-details">
  <app-title [title]="title"></app-title>
  <div *ngIf="order" class="row">
      <div class="col-md-6">
        <dl class="row">
            <dt *ngIf="authService.getUser().role == 'admin' || authService.getUser().role == 'superAdmin'" class="col-md-3">
              Customer:
            </dt>
            <dd *ngIf="authService.getUser().role == 'admin' || authService.getUser().role == 'superAdmin'" class="col-md-9">
              {{order.user_name | capitalize}}
            </dd>

          <dt class="col-md-3">
            Date:
          </dt>
          <dd class="col-md-9">
            {{order.date}}
          </dd>

          <dt class="col-md-3">
            Address:
          </dt>
          <dd class="col-md-9">
            {{order.address}}
          </dd>

          <dt class="col-md-3">
            City:
          </dt>
          <dd class="col-md-9">
            {{order.city | capitalize}}
          </dd>

          <dt class="col-md-12">
            Products:
          </dt>
          <dd *ngFor="let product of products" class="col-md-9 offset-md-3">
            <div class="row">
              <div class="col-md-6">
                  <span *ngIf="product.pivot.cant > 1">
                      {{product.pivot.cant}} x
                  </span> 
                  {{product.name | capitalize}}
              </div>
              <div class="col-md-6">
                  ${{product.price * product.pivot.cant}}
              </div>
            </div>
          </dd>
          <dd class="col-md-9 offset-md-3">
            <div class="row">
              <div class="col-md-6">
                  <strong>Total</strong> 
              </div>
              <div class="col-md-6">
                <strong>${{total}}</strong>
              </div>
            </div>
          </dd>
        </dl>
      </div>  
  </div>
</section>